<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-6.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="GradleSample" location="GradleSample.war" contextRoot="${app.context.root}" />
</server>
